.order-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item-card {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 10px;
}

.item-card h2 {
  color: antiquewhite;
}

.item-card p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btn-remove {
  background-color:#61f180;  
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-remove:hover {
  background-color: #61f180;
}

.btn-checkout {
  background-color: #61f180;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.empty-cart {
  text-align: center;
}
